.navBtn {
color: white;
position: absolute;
top: 3px;
right: 3px;
font-size: 11px;
width: 40px;
display: flex;
justify-content: space-between;
margin-right: 8px;
margin-top: 5px;
}

.btn{
    color: white;
    font-size: 11px;
}


@media (min-width: 900px) {
    .navBtn {
        margin-right: 20px;
        margin-top: 7px;
width: 40px;
    }

    .btn{
font-size: 11px;
    }
}
