.eyebrows {
    width: 100vw;
background: linear-gradient(0deg, rgba(25, 118, 210, 1) 25%, rgba(168, 253, 45, 1) 74%);
}

.list {
    display: grid;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid white;
    align-items: center;
    color: black;
    width: 100%;
    gap: 10px;
    grid-template-areas:
        "gallery gallery gallery"
        "about about about"
        "location contacts contacts"
    ;
    background-color: rgba(255, 255, 255, 0.7);
}

.about {
    grid-area: about;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.location {
    grid-area: location;
    margin-left: 50px;
}

.contacts {
    grid-area: contacts;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    grid-area: gallery;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.telega {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

.wrapper {
    margin-bottom: 50px;
}

@media (min-width: 900px) {
    .list {
        grid-template-columns: 25% 45% 20%;
        grid-template-rows: 20% 80%;
        grid-template-areas:
            "gallery location contacts"
            "gallery about about";
    }

    .eyebrows {
        width: 100%;
    }

    .galleryItem,
    .gallery {
        max-width: 200px;
        max-height: 200px;
    }

    .about,
    .location,
    .gallery {
        margin-left: 0;
        margin-right: 0;
    }

    .galleryItem {
        padding-right: 20px;
    }


}