.wrapper{
    padding: 30px;
        margin-bottom: 30px;
    
}

.newsContainer {
    height: 100%;
}

.title{
    font-size: 18px;
        font-weight: 800;
}

.newsContent{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}



@media (min-width: 900px) {
    .newsContent {
            display: grid;
            grid-template-areas:
                'i t'
                'i c';
            gap: 20px;
        }

                .title {
                    grid-area: t;
                    margin-bottom: 0px;
                    
                }
        
                .img {
                    grid-area: i;
                    max-width: 350px;
                }
        
                .content {
                    grid-area: c;
                }
}